<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>IUT de Troyes</title>

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        {% endblock %}

        {% block javascripts %}
            <script src="https://kit.fontawesome.com/c610cfb1f1.js" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body style="background-image: url( {{ asset ('images/background-type.png') }} ); background-size: 50vh; background-repeat: no-repeat; background-position: right; background-attachment: fixed">
    <header>
        <img src="{{ asset ('images/IUT.png') }}" alt="Logo" style="width: 10.5vw; margin-left: 2vw; position: absolute; z-index: 2;">

        <div style="display: flex; flex-direction: row; align-items: center; justify-content: flex-end; padding: 15px">
            <div style="display: flex; justify-content: space-around; width: 12vw;">
                <a href="" style="color: #6c416c"><i class="fa-brands fa-facebook-f fa-lg"></i></a>
                <a href="" style="color: #6c416c"><i class="fa-brands fa-twitter fa-lg"></i></a>
                <a href="" style="color: #6c416c"><i class="fa-brands fa-instagram fa-lg"></i></a>
                <a href="" style="color: #6c416c"><i class="fa-brands fa-youtube fa-lg"></i></a>
                <a href="" style="color: #6c416c"><i class="fa-brands fa-linkedin-in fa-lg"></i></a>
                <a href="" style="color: #6c416c"><i class="fa-brands fa-flickr fa-lg"></i></a>
            </div>
            <nav style="width: 30vw;">
                <ul style="list-style: none ;display: flex; flex-direction: row; justify-content: space-around;font-size: .7vw; margin: 0;">
                    <a href="" style="color: #6c416c"><li>Intranet</li></a>
                    <a href="" style="color: #6c416c"><li>Bureau Virtuel</li></a>
                    <a href="" style="color: #6c416c"><li>Messagerie</li></a>
                    <a href="" style="color: #6c416c"><li>Annuaire</li></a>
                    <a href="" style="color: #6c416c"><li>Bibliothèque</li></a>
                </ul>
            </nav>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll" style="justify-content: flex-end;">
                    <div class="flexnav" style="margin-right: 2vw">
                        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px; font-size: .9vw">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/IUT/accueil">Accueil</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    L'IUT
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                    <li><a class="dropdown-item" href="#">Actualités</a></li>
                                    <li><a class="dropdown-item" href="#">L'IUT en chiffres</a></li>
                                    <li><a class="dropdown-item" href="/IUT/departements">Départements</a></li>
                                    <li><a class="dropdown-item" href="#">Organigramme</a></li>
                                    <li><a class="dropdown-item" href="#">Revue de presse</a></li>
                                    <li><a class="dropdown-item" href="#">Rapport d'activité</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Nous trouver</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Formations
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                    <li><a class="dropdown-item" href="#">Domaines d'étude</a></li>
                                    <li><a class="dropdown-item" href="#">Modalités de formation</a></li>
                                    <li><a class="dropdown-item" href="#">VAE/VAPP</a></li>
                                    <li><a class="dropdown-item" href="#">Passeport vers l'étranger</a></li>
                                    <li><a class="dropdown-item" href="#">Passeport vers l'université</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    International
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                    <li><a class="dropdown-item" href="#">Relations internationales</a></li>
                                    <li><a class="dropdown-item" href="#">Etudier à l'étranger</a></li>
                                    <li><a class="dropdown-item" href="#">Stages à l'étranger</a></li>
                                    <li><a class="dropdown-item" href="#">Travailler à l'étranger</a></li>
                                    <li><a class="dropdown-item" href="#">Universités partenaires</a></li>
                                    <li><a class="dropdown-item" href="#">Etudiants étrangers</a></li>
                                    <li><a class="dropdown-item" href="#">TOEIC</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Entreprises
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                    <li><a class="dropdown-item" href="#">Formation aux entreprises</a></li>
                                    <li><a class="dropdown-item" href="#">Service emploi</a></li>
                                    <li><a class="dropdown-item" href="#">Stages en entreprise</a></li>
                                    <li><a class="dropdown-item" href="#">Taxe d'apprentissage</a></li>
                                    <li><a class="dropdown-item" href="#">Faire un don à l'IUT</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Recherche
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                    <li><a class="dropdown-item" href="#">CRESTIC automatique</a></li>
                                    <li><a class="dropdown-item" href="#">CRESTIC images</a></li>
                                    <li><a class="dropdown-item" href="#">ITHEMM</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Vie étudiante
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                    <li><a class="dropdown-item" href="#">Information et orientation</a></li>
                                    <li><a class="dropdown-item" href="#">Démarches en lign</a></li>
                                    <li><a class="dropdown-item" href="#">Le service santé</a></li>
                                    <li><a class="dropdown-item" href="#">Enquêtes</a></li>
                                    <li><a class="dropdown-item" href="#">Les services du Crous</a></li>
                                    <li><a class="dropdown-item" href="#">Bibliothèque</a></li>
                                    <li><a class="dropdown-item" href="#">Sports</a></li>
                                    <li><a class="dropdown-item" href="#">Associations</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">Candidatures</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">
                                    Evènements
                                </a>
                            </li>
                        </ul>
                    </div>
                    <form class="d-flex" style="margin: 0;">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-warning" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>


        {% block body %}
            {# Le contenu de chaque page sera ici #}
        {% endblock %}

        {% block footer %}
    <footer style="background-color: #fafafa; padding: 25px;">
        <div class="container">
            <div class="row" style="justify-content: space-between">
                <div class="col-3">
                    <ul style="font-weight: lighter; list-style: none">
                        <li style="font-weight: normal; margin-bottom: 10px">L'IUT de Troyes</li>
                        <a href="/IUT/departements" style="text-decoration: none; color: #3b3b3b"><li>Départements</li></a>
                        <a href="" style="text-decoration: none; color: #3b3b3b"><li>Formations</li></a>
                        <a href="" style="text-decoration: none; color: #3b3b3b"><li>Entreprises</li></a>
                        <a href="" style="text-decoration: none; color: #3b3b3b"><li>Vie étudiante</li></a>
                        <a href="" style="text-decoration: none; color: #3b3b3b"><li>Evènements</li></a>
                    </ul>
                </div>
                <div class="col-3">
                    <ul style="font-weight: lighter; list-style: none">
                        <a href="" style="text-decoration: none; color: #3b3b3b"><li style="font-weight: normal; margin-bottom: 10px">Outils</li></a>
                        <a href="" style="text-decoration: none; color: #3b3b3b"><li>Intranet</li></a>
                        <a href="" style="text-decoration: none; color: #3b3b3b"><li>Bureau virtuel</li></a>
                        <a href="" style="text-decoration: none; color: #3b3b3b"><li>Messagerie</li></a>
                        <a href="" style="text-decoration: none; color: #3b3b3b"><li>Annuaire</li></a>
                        <a href="" style="text-decoration: none; color: #3b3b3b"><li>Bibliothèque</li></a>
                    </ul>
                </div>
                <div class="col-3">
                    <ul style="font-weight: lighter; list-style: none">
                        <li style="font-weight: normal; margin-bottom: 10px">Contactez-nous</li>
                        <li><a href="" style="color: #3b3b3b"><i class="fa-brands fa-facebook-f fa-lg"></i></a>
                            <a href="" style="color: #3b3b3b"><i class="fa-brands fa-twitter fa-lg"></i></a>
                            <a href="" style="color: #3b3b3b"><i class="fa-brands fa-instagram fa-lg"></i></a>
                            <a href="" style="color: #3b3b3b"><i class="fa-brands fa-youtube fa-lg"></i></a>
                            <a href="" style="color: #3b3b3b"><i class="fa-brands fa-linkedin-in fa-lg"></i></a>
                            <a href="" style="color: #3b3b3b"><i class="fa-brands fa-flickr fa-lg"></i></a></li>
                        <li>9 rue de Québec <br>
                            CS 90396 <br>
                            1000 Troyes <br>
                        </li>
                        <li>03 25 42 46 46</li>
                    </ul>
                </div>
                <div class="col-3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2655.7800270777334!2d4.0787552!3d48.268607599999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ee990d103f3b05%3A0x3673a756c4366029!2sLogements%2C%209%20Rue%20Quebec%2C%2010430%20Rosi%C3%A8res-pr%C3%A9s-Troyes!5e0!3m2!1sfr!2sfr!4v1654352856967!5m2!1sfr!2sfr"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </footer>
        {% endblock %}

        {% block scripts %}
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        {% endblock %}

    </body>
</html>

