{% extends 'base.html.twig' %}

{% block body %}


    <div class="container">
            <section class="row  col-12" style="margin: 75px auto; justify-content: space-around; justify-content: space-around">
                <article class="col-7" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; padding: 50px; border-radius: 20px; height: fit-content">
                    <p style="color: lightgray; border-bottom: solid lightgrey 1px; font-size: .8vw">A la Une</p>
                    <h1 style="color: #6c416c">Bachelor Universitaire de Technologie</h1>
                    <h4>A partir de 2021, l'offre de formation des IUT évolue !</h4>
                    <h6>Le D.U.T laisse sa place à un tout nouveau système de formation appelé <strong>B.U.T</strong></h6>
                    <p>Un parcours intégré en 3 ans, sans sélection supplémentaire pour atteindre le grade <strong>licence</strong>. Le nouveau diplôme s’aligne sur les standards internationaux et facilite les échanges avec les universités étrangères.
                        Tout comme le DUT, cette formation est exclusive aux IUT et sélective à l’entrée. Les <strong>B.U.T</strong> sont définis par leurs 24 spécialités. Elles s’appuieront toujours sur des programmes nationaux avec des adaptations locales.</p>
                    <button type="button" class="btn btn-warning">En savoir plus</button>

                    <hr style="margin: 50px 0">

                    <iframe width="100%" height="350" src="https://www.youtube.com/embed/b9rnrY7mIPs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <hr style="margin: 50px 0">

                    <div style="display: flex; flex-direction: row">
                        <img src="{{ asset ('images/alternance.jpg') }}" alt="Oups" style="width: 50%; margin-right: 25px">
                        <div style="display: flex; flex-direction: column">
                            <h2>Recrutez vos futurs alternants en B.U.T</h2>
                            <p>L’IUT de Troyes s’engage depuis 50 ans à offrir un enseignement de qualité, en adéquation avec les besoins du monde professionnel, avec notamment la mise en place du Bachelor Universitaire de Technologie.
                                <br><span style="color: #6c416c">Bonne nouvelle, bénéficiez de la prime d'état de 8000€ pour tout contrat d'apprentissage signé désormais avant le 30 décembre 2022.</span></p>
                            <a href="https://bit.ly/3wDTIN9" target="_blank"><button type="button" class="btn btn-warning" style="width: 100%">Télecharger la brochure</button></a>
                        </div>
                    </div>

                </article>
                <aside class="col-4" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; padding: 50px; border-radius: 20px; backdrop-filter: blur(5px)">
                    <div style="display: flex; flex-direction: row; align-items: center; width: 55%; justify-content: space-between;">
                        <i class="fa-solid fa-newspaper fa-xl"></i>
                        <h3>Actualités</h3>
                    </div>

                    <hr>

                    {% for key in news %}
                        <h4>{{ key.titre }}</h4>
                        <img src="{{ key.image }}" alt="oups" style="width: 100%">
                        <p>{{ key.date }}</p>
                        <hr>
                    {% endfor %}
                </aside>
            </section>
    </div>

    <footer style="background-color: #fafafa; padding: 25px;">
        <div class="container">
            <div class="row" style="justify-content: space-between">
                <div class="col-3">
                    <ul style="font-weight: lighter; list-style: none">
                        <li style="font-weight: normal; margin-bottom: 10px">L'IUT de Troyes</li>
                        <a href="/IUT/departements" style="text-decoration: none; color: #3b3b3b"><li>Départements</li></a>
                        <a href="" style="text-decoration: none; color: #3b3b3b"><li>Formations</li></a>
                        <a href="" style="text-decoration: none; color: #3b3b3b"><li>Entreprises</li></a>
                        <a href="" style="text-decoration: none; color: #3b3b3b"><li>Vie étudiante</li></a>
                        <a href="" style="text-decoration: none; color: #3b3b3b"><li>Evènements</li></a>
                    </ul>
                </div>
                <div class="col-3">
                    <ul style="font-weight: lighter; list-style: none">
                        <a href="" style="text-decoration: none; color: #3b3b3b"><li style="font-weight: normal; margin-bottom: 10px">Outils</li></a>
                        <a href="" style="text-decoration: none; color: #3b3b3b"><li>Intranet</li></a>
                        <a href="" style="text-decoration: none; color: #3b3b3b"><li>Bureau virtuel</li></a>
                        <a href="" style="text-decoration: none; color: #3b3b3b"><li>Messagerie</li></a>
                        <a href="" style="text-decoration: none; color: #3b3b3b"><li>Annuaire</li></a>
                        <a href="" style="text-decoration: none; color: #3b3b3b"><li>Bibliothèque</li></a>
                    </ul>
                </div>
                <div class="col-3">
                    <ul style="font-weight: lighter; list-style: none">
                        <li style="font-weight: normal; margin-bottom: 10px">Contactez-nous</li>
                        <li><a href="" style="color: #3b3b3b"><i class="fa-brands fa-facebook-f fa-lg"></i></a>
                        <a href="" style="color: #3b3b3b"><i class="fa-brands fa-twitter fa-lg"></i></a>
                        <a href="" style="color: #3b3b3b"><i class="fa-brands fa-instagram fa-lg"></i></a>
                        <a href="" style="color: #3b3b3b"><i class="fa-brands fa-youtube fa-lg"></i></a>
                        <a href="" style="color: #3b3b3b"><i class="fa-brands fa-linkedin-in fa-lg"></i></a>
                        <a href="" style="color: #3b3b3b"><i class="fa-brands fa-flickr fa-lg"></i></a></li>
                        <li>9 rue de Québec <br>
                            CS 90396 <br>
                            1000 Troyes <br>
                        </li>
                        <li>03 25 42 46 46</li>
                    </ul>
                </div>
                <div class="col-3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2655.7800270777334!2d4.0787552!3d48.268607599999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ee990d103f3b05%3A0x3673a756c4366029!2sLogements%2C%209%20Rue%20Quebec%2C%2010430%20Rosi%C3%A8res-pr%C3%A9s-Troyes!5e0!3m2!1sfr!2sfr!4v1654352856967!5m2!1sfr!2sfr"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}

