
{# <img src="../public/images/IUT.png" alt="Oups">
<h1>IUT DE TROYES</h1>
<p>Premier test de page en Symfony</p> #}
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Accueil IUT de Troyes</title>
    </head>
</html>